# User-specific stuff:
.idea

# IntelliJ
*/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# idea
.idea/

# macOS #
*.DS_Store
.AppleDouble
.LSOverride

# Gradle #
.gradle
**/build
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Node #
node_modules/
yarn.lock
